<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RR AUTOMATION" parallel="none">
    <listeners>
        <listener class-name="utils.CustomListeners"/>
    </listeners>
    <test name="RR API Automation" preserve-order="true">
        <classes>
            <class name="rapyutatest.UITestCase"/>
            <class name="rapyutatest.APITestCase"/>

</classes>
</test> <!-- Test -->
</suite> <!-- Suite -->